
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $myMainColor;
    color: $white;
    .logo {
        padding-left: 1rem;
    }

    .menu {
        &__desktop {
            list-style: none;
            display: flex;
            li {
                font-weight: bold;
                padding: 1rem 2rem;
                transition: .3s;
                &:hover {
                    background-color: $white;
                    color: $myMainColor;
                    cursor: pointer;
                }
            }
        }

        &__mobile {
            display: none;
            padding: 1rem;
        }
        @media (max-width: 768px){
            &__mobile {
                display: block;
            }

            &__desktop {
                display: none;
            }
        }
    }

    // &--mobile {
    //     background-color: aqua;
    // }
}