.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @include flexBox(row, center, center);
    &__hero {
        display: none;
        width: 100%;
        height: 100%;
        color: white;
        background-image: url(https://animax.mn/assets/max/images/login-bg.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        h2 {
            font-size: 2.5rem;
            width: 400px;
        }

        .cap {
            width: 100%;
            height: 100%;
            @include flexBox(row, center, center);
            background-color: rgba(0,0,0,.5);
        }

        .hero-logo {
            width: 100px;
            height: 100px;
            border: 7px solid white;
            border-radius: 50%;
            background-color: $mainRed;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%);
            @include flexBox(row, center, center);
            img {
                width: 54px;
            }
        }
        @media (min-width: 768px){
            @include flexBox(row, center, center);
        }
    }
    &__form {
        width: 100%;
        height: 100%;
        @include flexBox(row, center, center);
        form {
            @include flexBox(column, center, center);
            @include size;
            min-width: 320px;
            .logo {
                width: 110px;
                height: 110px;
                border-radius: 50%;
                background-color: #f2f3fa;
                @include flexBox(row, center, center);
                border: $inputBorder;
                position: relative;
                margin-bottom: 1rem;
                img {
                    width: 62px;
                }

                .check {
                    width: 32px;
                    height: 32px;
                    font-size: 14px;
                    color: white;
                    background-color: $green;
                    @include flexBox(row, center, center);
                    border-radius: 50%;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    border: 3px solid #fff;
                }
            }

            .input {
                width: 100%;
                @include flexBox(row, center, center);
                margin-top: 1rem;
                button.icon {
                    border: $inputBorder;
                    padding: .75rem;
                    width: max-content;
                    background-color: white;
                    color: $greyColor;
                    border-right: none;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                    &:focus {
                        outline: none;
                        // border: 1px solid $mainRed;
                        // border-right: none;
                    }
                }
                input {
                    border: $inputBorder;
                    padding: .75rem .75rem .75rem 0;
                    width: 100%;
                    border-left: none;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                    &:focus {
                        outline: none;
                        // border: 1px solid $mainRed;
                        // border-left: none;
                    }
                    &::placeholder {
                        color: $greyColor;
                    }
                }
            }

            button.login {
                width: 100%;
                margin-top: 1rem;
                padding: .85rem;
                border-radius: 9999px;
                border: 1px solid $mainRed;
                background-color: $mainRed;
                color: white;
                cursor: pointer;
                font-weight: bold;
                a {
                    text-decoration: none;
                    color: white;
                }
                &:hover {
                    opacity: .8;
                }
            }

            .options {
                margin: 1rem 0;
                width: 100%;
                font-size: 14px;
                color: $greyColor;
                @include flexBox(row, space-between, center);
                cursor: pointer;
                p {
                    transition: all .3s;
                    &:hover {
                        color: $mainRed;
                    }
                }
            }
            .notes {
                width: 320px;
                @include size;
                font-size: 14px;
                margin: 1rem 0;
                padding: 1rem;
                border: 1px dashed $mainRed;
                border-radius: 4px;
                color: #344258;
                .warning {
                    color: $mainRed;
                    line-height: 1.5;
                    margin-bottom: 1rem;
                }

                ul {
                    list-style: none;
                    line-height: 1.5;
                    padding-left: .25rem;
                    li {
                        @include flexBox(row, flex-start, center);
                        gap: .5rem;
                    }
                }

            }
        }
    }
}