@mixin flexBox($direction, $justify, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
}

@mixin size {
    @media (min-width: 576px) {
        min-width: 375px !important;
    }
}