* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-start {
    align-items: flex-start;
}


.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-base {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.bg-red {
    background-color: orangered;
}

.text-white {
    color: white;
}

.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}

// grid-box
// flex-box
// transform

// margin - m-1, ml, mr, my (1rem 0), mx (0 1rem), mx-auto, 
// padding
// border - 1px, border-l

// border-4
// border-dashed
// border-red

// Tailwind - 80-90%


// BieDaalt
// 

// Tailwind
// SASS - CatScarf, Animax
// RESPONSIVE - INSPECTION
// CSS BASIS - MNFANSUBS, IKON.MN

// RAR
// share.hiub.mn